.lineDecription-container{
  border: none;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 2;
  left: 60px;
  overflow: hidden;
}
